<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Smartphone List</title>
</head>
<body>
<h2>Smartphone List</h2>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Price</th>
  </tr>
  <tr th:each="smartphone : ${smartphones}">
    <td th:text="${smartphone.id}"></td>
    <td th:text="${smartphone.brand}"></td>
    <td th:text="${smartphone.model}"></td>
    <td th:text="${smartphone.price}"></td>
  </tr>
</table>
</body>
</html>
